.Hero {
    background-color: #182A55;
    height: 200px;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 30px 100px 30px 100px;
    flex-direction: column;
    color: #fdf8f2;
}

.title.is-2 {
    color: #fdf8f2;
}
/* #f5f5f5 */
/* 3383c7 */