.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 12px;
background-color: #182A55;
}

.footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fdf8f2;
}

.footer > small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 100;
    color: #fdf8f2;
}